<div>
        <header>
            <div class="header navHeader" style="padding-top: 12px;">
                <div layout="row" layout-xs="column">
                    <div flex class="headername">
                        <a>Credit Application Processing System</a>
                    </div>
                    <div flex class="headerIcons">
                        <div class="maticon headeruser">
                            <a href="#"><i class="material-icons">person</i></a>
                        </div>
                        <div class="maticon">
                            <a href="#"><i class="material-icons">notifications_none</i></a>
                        </div>
                        <div class="maticon">
                            <a href="#"><i class="material-icons">cached</i></a>
                        </div>
                        <div class="maticon">
                            <a href="#"><i class="material-icons">alarm</i></a>
                        </div>
                        <div class="maticon">
                            <a href="#"><i class="material-icons">mail</i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header navHeader" id="myHeader" style="padding-bottom: 18px;">
                <div class="nav">
                    <div class="navbar">
                        <ul>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light ng-binding" href="#">Upload Disbursement Approval
                                        Material</a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="#">About CAP</a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="#">User
                                        Administration</a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="# ">Reports
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="#">Menu Selling
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="#">Proposal</a>
                                </div>
                            </li>
                            <li>
                                <div class="">
                                    <a class="waves-effect waves-light" href="#">Work Queue</a>
                                </div>
                            </li>
                            <li>
                                <div class="active">
                                    <a class="waves-effect waves-light" href="#">Dashboard</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>