<div class="header navHeader" style="padding-top: 12px;">
    <div layout="row" layout-xs="column">
        <div flex class="headername">
            <a>Credit Application Processing System</a>
        </div>
        <div flex class="headerIcons">
            <div class="maticon headeruser">
                <a href="#"><i class="material-icons">person</i></a>
            </div>
            <div class="maticon">
                <a href="#"><i class="material-icons">notifications_none</i></a>
            </div>
            <div class="maticon">
                <a href="#"><i class="material-icons">cached</i></a>
            </div>
            <div class="maticon">
                <a href="#"><i class="material-icons">alarm</i></a>
            </div>
            <div class="maticon">
                <a href="#"><i class="material-icons">mail</i></a>
            </div>
        </div>
    </div>
</div>

<!-- <table class='table'>

    <thead sticky-header>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat='item in items'>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
        </tr>
    <tbody>
</table> -->

<div class="header navHeader" id="myHeader" style="padding-bottom: 18px;">
    <div class="nav">
        <div class="navbar">
            <ul>
                <li>
                            <div class="">
                                <md-button>Upload Disbursement Approval Material</md-button>
                            </div>
                        </li>
                <li>
                    <div class="">
                        <md-button ui-sref="workqueueDashboard">About CAP</md-button>
                    </div>
                </li>
                <li>
                    <div class="">
                        <md-button ui-sref="workqueueDashboard">User Administration</md-button>
                    </div>
                </li>
                <li>
                    <div class="">
                        <md-button ui-sref="workqueueDashboard">Reports</md-button>
                    </div>
                </li>
                <li>
                    <div class="">
                        <md-menu-bar>
                            <md-menu>
                                <md-button aria-label="Open menu" ng-mouseover="$mdMenu.open()">
                                    Menu Selling
                                </md-button>
                                <md-menu-content width="3" ng-mouseleave="$mdMenu.close()">
                                    <md-menu-item>
                                        <md-button ui-sref="menuSelling">Create</md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ui-sref="#">Control Panel</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>
                    </div>
                </li>
                <li>
                    <div class="">
                        <md-button ui-sref="workqueueDashboard">Proposal</md-button>
                    </div>
                </li>
                <li>
                    <div class="">
                        <md-button ui-sref="workqueueDashboard">Work Queue</md-button>
                    </div>
                </li>
                <li>
                    <div class="active">
                        <md-button ui-sref="workqueueDashboard">Dashboard</md-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>







<!-- ================================= -->
